{% extends "app/index.html" %}
{% load static %}

{% block title %} Accesorios {% endblock %}
{% block css %}
<link type='text/css' rel='stylesheet' href='{% static 'accesorios/css/style.css' %}'>
{% endblock %}

{% block content %}
<section>
    <br><br>

    <!-- Cambiado de card-deck a row para uso de rejilla de Bootstrap -->
    <div class="row">
        <!-- PRIMERA FILA DE PRODUCTOS -->
        {% for product in products|slice:":4" %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="{{ product.foto.url }}" class="card-img-top img-fluid" alt="{{ product.nom_producto }}">
                <div class="card-body d-flex flex-column text-center">
                    <h5 class="card-title">{{ product.nom_producto }}</h5>
                    <p class="card-text" style="padding-top: 15%;">{{ product.descripcion }}</p>
                    <p>{{ product.precio }}</p>

                    <a class="btn btn-primary mt-auto" href="{% url 'add_to_cart' product.id_producto %}" role="button">Añadir al carro</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row mt-4">
        <!-- SEGUNDA FILA DE PRODUCTOS -->
        {% for product in products|slice:"4:8" %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="{{ product.foto.url }}" class="card-img-top img-fluid" alt="{{ product.nom_producto }}">
                <div class="card-body d-flex flex-column text-center">
                    <h5 class="card-title">{{ product.nom_producto }}</h5>
                    <p class="card-text" style="padding-top: 15%;">{{ product.descripcion }}</p>
                    <p>{{ product.precio }}</p>

                    <a class="btn btn-primary mt-auto" href="{% url 'add_to_cart' product.id_producto %}" role="button">Añadir al carro</a>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="#" class="to-top">
        <img src="{% static 'inicio/img-carro/patitaboton.png' %}" alt="Back to top" class="to-top-img">
    </a>
</section>
<br><br>

<script src="{% static 'accesorios/js/botonsubir.js' %}"></script>

{% endblock %}
